html, body {
	width: 100vw; /* Use viewport width */
	height: 100vh; /* Use viewport height */
	margin: 0;
	padding: 0;
	overflow: hidden; /* Prevent browser scrollbars */
	font-family: Arial, Helvetica, sans-serif;
}
